.allc{
  border-radius: 10px ;
  border: 2px solid rgb(74, 72, 70);
  margin: 20px;
  padding: 20px;
  min-width: 800px;
}
.divice{
  display: flex;
  
}
img.im{
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.chia{
  margin: 20px;
  padding: 20px;
  border: 1px solid rgb(73, 72, 72);
  border-radius: 10px;
}
p{
  font-size: 20px;
}