<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href=""></a>Overview</li>
            <li><a href=""></a>Room</li>
            <li><a href=""></a>Facilities</li>
            <li><a href=""></a>location</li>
            <li><a href=""></a>reviews</li>
        </ul>
        <div class="left1">
            <div class="l-one"></div>
            <div class="l-two"></div>
            <div class="l-three"></div>
        </div>
        <div class="right">
            <div class="r-one"></div>
            <div class="r-two"></div>
            
        </div>
    </nav>
</body>
</html>