<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiện nghi và cơ sở vật chất</title>
</head>
<body>
<div style="width: 80%; margin: 0 auto;">
    <div style="text-align: center;">
    <h1>Tiện nghi và cơ sở vật chất</h1>
    <table border="0" cellspacing="0">
    <tr>
        <th style="color: rgb(255, 34, 0);">Ngôn ngữ sử dụng</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Ăn uống</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Dễ dàng tiếp cận</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Trang bị trong mọi phòng</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Truy cập Internet</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Dịch vụ và tiện nghi</th>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <th><i>Tiếng Việt</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Breakfast service</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bàn tiếp tân [24h]</i> </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Áo choàng tắm</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ Internet</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Cơ sở vật chất cho họp mặt/tiệc lớn</i></th>
    </tr>
    <tr>
        <th>
            <i>Tiếng Anh</i>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Buffet sáng</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bảo vệ [24h]</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bàn ăn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Internet có dây</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Cửa hàng</i></th>
    </tr>
    <tr>
        <th><i>Tiếng Hàn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ phòng [24h]</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bình chữa cháy</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bàn làm việc</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Wifi miễn phí</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ bưu chính</i></th>
</tr>
    <tr>
        <th style="color: rgb(255, 34, 0);">Thư giãn & Vui chơi giải trí</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Nhà hàng</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Chuông/liên lạc nội bộ không dây</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bình chữa cháy</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Đi lại</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ cắt tỉa lông thú cưng</i></th>
    </tr>
    <tr>
        <th><i>Bể bơi</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Quán bar</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Phòng cách âm</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bộ chuyển đổi nguồn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bãi đỗ xe</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ giặt là</i></th>
    </tr>
    <tr>
        <th><i>Bi-a</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Quán cà phê</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Phòng không hút thuốc</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Cách âm</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ taxi</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ ủi đồ</i></th>
    </tr>
    <tr>
        <th><i>Bóng bàn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Sắp xếp bữa ăn thay thế</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Thiết bị báo cháy</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Các loại khăn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Đưa đón sân bay</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Dịch vụ văn phòng(fax & photocopy)</th>
    </tr>
    <tr>
        <th><i>Bồn tắm nước nóng</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Khả năng tiếp cận dành cho người khuyết tật</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tính năng an toàn/bảo mật</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Có các phòng thông nhau</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Ô tô cho thuê</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dọn phòng hàng ngày</i></th>
    </tr>
    <tr>
        <th><i>Mát-xa</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Phù hợp cho xe lăn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="color: rgb(255, 34, 0);">Dành cho trẻ em</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Cửa an toàn cho em bé</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Đổi ngoại tệ</i></th>
    </tr>
    <tr>
        <th><i>Phòng tập</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Bữa ăn cho trẻ</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dép đi trong nhà</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Giao đồ ăn</i></th>
    </tr>
    <tr>
        <th><i>Spa</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Dịch vụ trông trẻ</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Điện thoại</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Giữ hành lí</i></th>
    </tr>
    <tr>
        <th style="color: rgb(255, 34, 0);">Độ sạch sẽ và an toàn</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Phòng gia đình</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Điều hòa</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Nhân viên chăm sóc khách hàng</i></th>
    </tr>
    <tr>
        <th><i>Bác sĩ/y tá trực</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Sân chơi</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Ghế Sofa</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Nhân viên trực cửa</i></th>
    </tr>
    <tr>
        <th><i>Bộ dụng cụ sơ cứu</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tính năng an toàn cho trẻ</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Giá treo quần áo</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Rút tiền mặt</i></th>    
    </tr>
    <tr>
        <th><i>Chứng nhận vệ sinh</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Máy sấy tóc</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Thang máy</th>  
    </tr>
    <tr>
        <th><i>Khử trùng hàng ngày cho các phòng</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Nhà vệ sinh cho người khuyết tật</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tiệm làm đẹp</i></th>
    </tr>
    <tr>
        <th><i>Nhân viên được đào tạo giao thức an toàn</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Phòng tắm</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tiện nghi cho khách khuyết tật</i></th>
    </tr>
    <tr>
        <th>Nước rửa tay</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Phòng thay đồ</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tủ có khóa</i></th>
    </tr>
    <tr>
        <th><i>Nhiệt kế cơ thể</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Quần áo ngủ</i></th>
    </tr>
    <tr>
        <th><i>Lựa chọn thức ăn bọc riêng</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Sản phẩm vệ sinh</i></th>
    </tr>
    <tr>
        <th><i>Sản phẩm làm sạch chống virus</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Sưởi</i></th>
    </tr>
    <tr>
        <th><i>Văn phòng phẩm dùng chung bị loại bỏ</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Thảm</i></th>
    </tr>
    <tr>
        <th><i>Vật dụng nhà bếp và bộ đồ ăn được vệ sinh</i></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Thùng rác</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>TV</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tủ lạnh</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Tủ quần áo</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Vật dụng tắm rửa</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>Vòi sen</i></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><i>WIFI [miễn phí]</div></i></th>
    </tr>
    </table> 
<div style="text-align: center;">
    <div class="header">
        <h1>Đồ ăn và nơi ăn uống</h1>
</div>
</div>
</div>
<hr>
<div class="content">
    <table>
        <tr>
            <th style="color: rgb(255, 34, 0);">Lựa chọn ăn sáng</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="color: rgb(255, 34, 0);">Nhà hàng tại chỗ nghỉ</th>
        </tr>
        <tr>
            <th><li>Mỹ</li></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>La Cheminee</i></th>
        </tr>
        <tr>
            <th><li>Món Á</li></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Ẩm thực : món Á, quốc tế</i></th>
        </tr>
        <tr>
            <th><li>Kiểu Âu</li></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Thực đơn : tự chọn, gọi theo món</i></th>
        </tr>
        <tr>
            <th><li>Ý</li></th>
        </tr>
        <tr>
            <th><li>đồ chay</li></th>
        </tr>
    </table>

</div>

</div>

</body>
</html>