<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Trang chu</title>
  <link rel="stylesheet" href="/Template/web/bootstrap-5.2.3-dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/Template/web/MyStyle/mystyle.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- <link rel="stylesheet" href="/Template/web/bootstrap-icons-1.11.1/search.svg"> -->
  <!-- <link rel="stylesheet" href="/Template/web/bootstrap-5.2.3-dist/css/fontawesome.min.css"> -->
  <link rel="stylesheet" href="/Template/web/fontawesome-free-6.4.2-web/css/all.min.css">
  <!-- khai báo web font, không phải của bootstrap  -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <!-- khai báo bootstrap datepicker, để hiển thị ngày tháng năm  -->

</head>

<body>
  <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark" id="nav"> <!-- Cụm menu -->
    <div class="container-lg">
      <a class="navbar-brand text-white" href="/Views/index.html">VieHome</a>

      <div class="navbar-toggler"> <!-- Menu trên đt -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Đăng nhập trên điện thoại -->
        <a id="login-button-phone" style="display: inline-block;" href="/Views/Login/login2.html"><i
            class="bx bxs-user mr-4"></i></a>
        <!-- Đăng xuất trên điện thoại -->
        <button onclick="logout()" style="display: none;" id="logout-button-phone">
          <i class="bx bxs-user-minus mr-4"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav"> <!-- Menu trên PC -->
        <ul class="navbar-nav me-auto" id="menu">
          <li class="nav-link" id="welcome-user-phone" style="display: none; color: white;">
            <p class="text-end" style="margin: 0px;">Xin chào, <span id="user-greeting-phone"></span></p>
          </li>
          <li class="nav-item">
            <a class="nav-link active menu-link" href="/Views/index.html" style="color: white;">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="/Views/Khach san/Khach san.html" style="color: white;">Khách sạn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="/Views/homestay/Homestay.html" style="color: white;">Homestay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-link" href="/Views/Ho tro/ttht.html" style="color: white;">Hỗ trợ</a>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav navbar justify-content-end collapse navbar-collapse"> <!-- Xác minh tài khoản -->
        <li class="nav-item mx-1">
        <li class="nav-link" id="welcome-user" style="display: none; color: white;">
          <p style="margin: 0px;">Xin chào, <span id="user-greeting"></span></p>
        </li>
        <button class="nav-link btn btn-primary text-white" onclick="logout()" style="display: none;"
          id="logout-button">Đăng xuất</button>
        <button class="nav-link btn btn-primary" id="login-button">
          <a href="/Views/Login/login2.html" style="color: white;">Đăng nhập</a>
        </button>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <br>
    <div class="container-lg" id="khung-search">
      <nav class="navbar navbar-expand-lg" style="align-items: normal; justify-content: center">
        <!-- Chọn homestay hoặc khách sạn -->
        <ul class="navbar-nav" id="menu-search">
          <li class="nav-item mx-1">
            <a id="homestay-option" class="nav-link" style="font-size: large; color: black" href="#">
              <i class="fa-solid fa-house"></i>Homestay
            </a>
          </li>
          <li class="nav-item mx-1">
            <a id="hotel-option" class="nav-link" style="font-size: large; color: black" href="#">
              <i class="fa-solid fa-hotel"></i>Khách sạn
            </a>
          </li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-sm-3"> <!-- Chọn thành phố  -->
          <select class="form-select" id="thanh-pho" style="width: 90%; height: 100%;">
            <option selected>Thành phố</option>
            <option value="HN">Hà Nội</option>
            <option value="HP">Hồ Chí Minh</option>
            <option value="DN">Đà Nẵng</option>
          </select>
        </div>

        <div class="col-sm-3"> <!--Chọn ngày đén  -->
          <div class="date input-group  datepicker" style="width: 90%;">
            <input id="ngay-di" class="form-control" type="text" placeholder="Chọn ngày đi">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa-solid fa-calendar-days" style="color: #020203;"></i>
              </span>
            </span>
          </div>
        </div>

        <div class="col-sm-3"> <!--Chọn ngày về  -->
          <div class="date input-group  datepicker" style="width: 90%;">
            <input id="ngay-ve" class="form-control" type="text" placeholder="Chọn ngày về">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa-solid fa-calendar-days" style="color: #020203;"></i>
              </span>
            </span>
          </div>
        </div>
        <!-- onclick="search() -->
        <div class="col-sm-3">
          <button id="search-button" class="btn btn-primary" style="height: 40px; width: 40px;" type="button" "> <!-- Nút tìm kiếm -->
            <i class=" bi bi-search"></i>
          </button>
        </div>

      </div>
    </div>
  </header>

  <main>
    <div class="container-sm" style="margin-top:30px ;">
      <h4> <!-- Liệt kê thành phố -->
        <i class="fa-solid fa-city" style="color: #04ff00; margin-right: 5px;"></i>Những thành phố được yêu thích nhất
      </h4>
      <div class="row justify-content-center">
        <a href="#" class="col-sm-3 p-5 text-center text-white shadow-lg" id="HaNoi">
          <h4>Hà Nội</h4>
        </a>
        <a href="#" class="col-sm-3 p-5 text-center text-white shadow-lg" id="HoChiMinh">
          <h4>Hồ Chí Minh</h4>
        </a>
        <a href="#" class="col-sm-3 p-5 text-center text-white shadow-lg" id="DaNang">
          <h4>Đà Nẵng</h4>
        </a>
      </div>

      <h4 style="margin-top: 10px;"> <!-- Liệt kê homstay -->
        <i class="fa-solid fa-house-user" style="color: #04ff00; margin-right: 5px;"></i>Homestay
      </h4>
      <div class="row justify-content-center">
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="#">
            <img class="card-img-top" src="/Image/homestay/hanoi/chips house/1.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 1</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="#">
            <img class="card-img-top" src="/Image/homestay/hanoi/an's home/10.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 2</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="">
            <img class="card-img-top" src="/Image/homestay/hanoi/mộng homestay/12.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 3</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="">
            <img class="card-img-top" src="/Image/homestay/hanoi/mộng homestay/5.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 4</p>
          </div>
        </div>
      </div>

      <h4 style="margin-top: 10px;"> <!-- Liệt kê khách sạn -->
        <i class="fa-regular fa-building" style="color: #04ff00; margin-right: 5px;"></i>Khách sạn
      </h4>
      <div class="row justify-content-center">
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="#">
            <img class="card-img-top" src="/Image/homestay/hanoi/chips house/1.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 1</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="#">
            <img class="card-img-top" src="/Image/homestay/hanoi/an's home/10.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 2</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="">
            <img class="card-img-top" src="/Image/homestay/hanoi/mộng homestay/12.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 3</p>
          </div>
        </div>
        <div class="card card-3D col-sm-3 m-1" style="width: 18rem;">
          <a href="">
            <img class="card-img-top" src="/Image/homestay/hanoi/mộng homestay/5.jpg" alt="Homestay1" />
          </a>
          <div class="card-body">
            <p>lời mời gọi home 4</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-black text-white text-center p-4"> <!-- Phần dưới cùng -->
    <div class="row" style="margin: 0px;">
      <div class="col-4">
        <h3>Thành viên</h3>
        <ul style="list-style: none">
          <li>Lê Thị Quỳnh Anh</li>
          <li>Nguyễn Đắc Anh</li>
          <li>Nguyễn Mạnh Hùng</li>
          <li>Vũ Ngọc Minh</li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Thông tin liên hệ</h3>
        <ul style="list-style: none">
          <li>
            <a href="https://www.facebook.com/blader.buster.9" style="color: white;">
              <i class="fa-brands fa-facebook" style="color: #0561ff;"></i></i>Quỳnh Anh
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC8vmMGd34GkBUZ_KodSG6XQ" style="color: white;">
              <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>Đắc Anh
            </a>
          </li>
          <li>
            <a href="" style="color: white;">
              <i class="fa-solid fa-square-envelope" style="color: #ffffff;"></i>Mạnh Hùng
            </a>
          </li>
          <li>
            <a href="" style="color: white;">
              <i class="fa-brands fa-discord" style="color: #11ff00;"></i>Ngọc Minh
            </a>
          </li>
        </ul>
      </div>
      <div class="col-4">
        <h3>Trợ giúp</h3>
        <ul style="list-style: none">
          <li>
            <a href="/Views/Ho tro/ttht.html" style="color: white;">Trung tâm trợ giúp</a>
          </li>
          <li>
            <button id="delete-account-button" class="btn btn-danger" onclick="deleteAccount()" style="margin: 5px;">Xóa
              tài khoản</button>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="/Template/web/MyJavaScript/myscript.js"></script>
  <script src="/Template/web/Jquery/jquery-3.7.1.min.js"></script>
  <script src="/Template/web/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
  <script src="/Template/web/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="/Template/login/MyJavaScript/common.js"></script>
</body>

</html>