<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trung tâm hỗ trợ</title>
</head>
<body>
    <div style="background-color: rgb(91, 197, 255);">
     <div style="text-align: center;">   
        <h1>Bạn cần hỗ trợ ư?</h1>
        <h3>Chúng tôi đến giúp quý khách đây!<h3>
        </div>
        <h4>Những câu hỏi thường gặp</h4>
    </div>
    <div>
    <th><div class="header">
        <h2>Chi tiết đặt chỗ</h2>
        <li>Làm thế nào tôi có được thêm thông tin về phòng hoặc cơ sở vật chất của chỗ nghỉ?</li>
        <li>Khi nào tôi có thư điện tử xác nhận?</li>
        <li>Tôi có thể kiểm tra chi tiết và trạng thái đặt phòng của mình ở đâu?</li>
        <li>Khách sạn cung cấp đưa đón sân bay không?</li>
        <li>Giá phòng gồm cả bữa sáng chưa?</li>
        <li>Tôi chưa nhận được xác nhận đặt chỗ và không thể xác định vị trí đơn đặt chỗ của mình trực tuyến.</li>
        <li>Tôi có thể chọn loại giường nào tôi muốn chứ?</li>
        <li>Làm sao tôi có thể gửi xác nhận đặt phòng tới địa chỉ thư điện tử khác với địa chỉ tôi đã sử dụng để đặt phòng?</li>
    </div>
    <hr>
    <div class="header">
        <h2>Hủy bỏ</h2>
        <li>Làm thế nào tôi có thể hủy phòng của mình?</li>
        <li>Làm sao tôi biết việc đặt phòng của mình đã bị hủy bỏ hãy chưa?</li>
        <li>Tôi sẽ bị tính phí nếu tôi hủy phòng của mình chứ?</li>
        <li>Tôi có thể tìm chính sách hủy ở đâu?</li>
        <li>Bao lâu tôi sẽ nhận lại tiền của mình?</li>
    </div>
    <hr>
    <div class="header">
        <h2>Thay đổi về việc đặt chỗ</h2>
        <li>Tôi muốn thay đổi ngày đặt phòng của mình. Làm sao tôi có thể làm vậy?</li>
        <li>Tôi muốn thay đổi tên của khách chính. Làm sao tôi có thể làm vậy?</li>
        <li>Làm thế nào để tôi kéo dài thời gian ở?</li>
        <li>Làm thế nào để tôi rút ngắn thời gian ở?</li>
    </div>
    <hr>
    <div class="header">
        <h2>Yêu cầu đặc biệt</h2>
        <li>Làm thế nào tôi có thể đưa ra một yêu cầu đặc biệt?</li>
        <li>Làm thế nào thì tôi sẽ biết là một yêu cầu đặc biệt được xác nhận?</li>
        <li>Tôi có được yêu cầu nhận phòng sớm/trả phòng muộn không?</li>
        <li>Tôi có thể chọn loại giường tôi muốn, yêu cầu phòng hút thuốc hoặc cấm hút thuốc, hoặc yêu cầu phòng nối liền nhau chứ?</li>
    </div>
    <hr>
    <div style="text-align: center; background-color: rgb(194, 192, 192);">
    <table>
        <tr>
            <th>Trợ giúp</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
<th>Công ty</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Điểm du lịch</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Tải ứng dụng</th>
        </tr>
        <tr>
            <th><i>Trung tâm hỗ trợ</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Về chúng tôi</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Quốc gia</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Ứng dụng IOS</i></th>
        </tr>
        <tr>
            <th><i>Câu hỏi thường gặp</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Tuyển dụng</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Thành phố</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Ứng dụng Android</i></th>
        </tr>
        <tr>
            <th><i>Chính sách bảo mật</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Báo chí</i></th>
        </tr>
        <tr>
            <th><i>Chính sách về cookie</i></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><i>Nhật kí mạng</i></th>
        </tr>
        <tr>
            <th>Điều khoản sử dụng</th>
        </tr>
        <tr>
            <th>Quản lý thiết lập cookie</th>
        </tr>
    </table>
    </div>
    <hr>
    <div>
        
    </div>
    </div>
</body>
</html>