<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Fracer Residence Hà Nội</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/fran1.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran2.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran3.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran4.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran5.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran6.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fran7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/fra8.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra9.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra10.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra11.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra12.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra13.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra14.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/fra15.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra16.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra17.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra19.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra20.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra21.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/fra8.jpg" alt="">
            </div>
        </div>
 
    </div>
</body>
</html>