<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Vinahomes Dcapitale-Luka homes</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/vin1.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin2.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin3.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin4.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin5.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin6.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/vin8.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin9.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin10.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin11.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin12.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin13.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin14.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/vin15.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin16.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin17.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin18.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin19.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin20.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/vin21.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>