<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/Template/login/bootstrap-5.2.3-dist/css">
    <script src="/Template/login/bootstrap-5.2.3-dist/js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/Template/login/MyStyle/login.css">
    <source src="/Template/login/MyJavaScript/login.js" >
</head>
<body>  
    <div class="all">
        <form id="login-form" onsubmit="return validateloginForm()">
            <h3>Viehome Login</h3>
            <div class="input">
                <input type="text" name="username" id="login-username" placeholder="username">
                <i class='bx bxs-user' ></i>
                <span class="error" id="login-username-error"></span>
            </div>
            <div class="input">
                <input type="password" name="password" id="login-password" placeholder="password">
                <i class='bx bxs-key'></i>
                <span class="error" id="login-password-error"></span>
            </div>
            <div class="remember">
                <label > <input type="checkbox">Remember me</label>
                <a href="#"> Forgot password?</a>

            </div>
            <button type="submit" class="nut"> Login</button>
            <div class="register">
                <p>Don't have any account ?<a href="/Views/Login/Register.html"> Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>