<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Template/login/bootstrap-5.2.3-dist/css">
    <script src="/Template/login/MyJavaScript/myscript.js"></script>
    <link rel="stylesheet" href="/Template/login/MyStyle/register.css">
</head>
<body>
   <div class="all">
        <h3> Viehome Sign up </h3>
        <h4>Chỉ mất vài phút để đăng ký tài khoản!</h4>
        <form>
            <div class="hoten">
                <label> Tên <input type="text"></label> 
            </div>
            <div class="std">
                <label>Số điện thoại<input type="text"></label>
            </div>
            <div class="email">
                <label>Email <input type="text"></label>
            </div>
            <div class="pass">
                <label>Mật khẩu<input type="password"></label>
            </div>
            <div class="confirm">
                <label>Xác nhận mật khẩu <input type="password"></label>
            </div>
            <div class="agree">
                <label><input type="checkbox"> Tôi đồng ý với các  </label>
                <span class="under">điều khoản</span>
                <span>của Viehome</span>
            </div>
            <button type="submit" class="nut">submit</button>
            <div class="login">
                <p>Already have a account ?<a href="/Views/Login/test.html"> login</a></p>
            </div>
        </form>
   </div>
</body>
</html>