<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/mystyle.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/home.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/chinhsach.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/danhgia.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/tiennghi.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/tongquan.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

    <!-- Khai báo các framework css liên quan -->
    <link rel="stylesheet" href="/WebApp/Template/homestay/bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/WebApp/Template/homestay/fontawesome-free-6.4.2-web/css/all.min.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" id="nav"> <!-- Cụm menu -->
        <div class="container-lg">
            <a class="navbar-brand text-white" href="/WebApp/Views/index.html">VieHome</a>

            <div class="navbar-toggler"> <!-- Menu trên đt -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Đăng nhập trên điện thoại -->
                <a id="login-button-phone" style="display: inline-block;" href="/WebApp/Views/Login/login2.html"><i
                        class="bx bxs-user mr-4"></i></a>
                <!-- Đăng xuất trên điện thoại -->
                <button onclick="logout()" style="display: none;" id="logout-button-phone">
                    <i class="bx bxs-user-minus mr-4"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav"> <!-- Menu trên PC -->
                <ul class="navbar-nav me-auto" id="main-menu">
                    <li class="nav-link" id="welcome-user-phone" style="display: none; color: white;">
                        <p class="text-end" style="margin: 0px;">Xin chào, <span id="user-greeting-phone"></span></p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active menu-link" href="/WebApp/Views/index.html" style="color: white;">Trang
                            chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/WebApp/Views/Khach san/Khach san.html" style="color: white;">Khách
                            sạn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/WebApp/Views/homestay/Homestay.html"
                            style="color: white;">Homestay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="/WebApp/Views/Ho tro/ttht.html" style="color: white;">Hỗ trợ</a>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav navbar justify-content-end collapse navbar-collapse"> <!-- Xác minh tài khoản -->
                <li class="nav-item mx-1">
                <li class="nav-link" id="welcome-user" style="display: none; color: white;">
                    <p style="margin: 0px;">Xin chào, <span id="user-greeting"></span></p>
                </li>
                <button class="nav-link btn btn-primary text-white" onclick="logout()" style="display: none;"
                    id="logout-button">Đăng xuất</button>
                <button class="nav-link btn btn-primary" id="login-button">
                    <a href="/WebApp/Views/Login/login2.html" style="color: white;">Đăng nhập</a>
                </button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="anhnen">
        <div class="anhchinh">
            <div class="img-ll">
                <img src="/WebApp/Image/homestay/hanoi/an's home/22.jpg" alt="">
            </div>
            <button class="xem"><a href="/WebApp/Views/homestay/xem.html" target="_blank">xem tất cả ảnh</a></button>
        </div>
        <div class="img-mm">
            <div class="up">
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/7.jpg" alt="">
                </div>
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/15.jpg" alt="">
                </div>
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/18.jpg" alt="">
                </div>
            </div>
            <div class="down">
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/1.jpg" alt="">
                </div>
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/2.jpg" alt="">
                </div>
                <div class="img">
                    <img src="/WebApp/Image/homestay/hanoi/an's home/13.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="navbar" class="sticky-top ">
        <ul id="menu">
            <li><a href="#tongquan">Tổng quan</a></li>
            <li><a href="#phong">Phòng </a></li>
            <li><a href="#tiennghi">Tiện nghi</a></li>
            <li><a href="#danhgia">Đánh giá</a></li>
            <li><a href="#chinhsach">Chính sách</a></li>
        </ul>
    </div>
    <div id="tongquan">
        <div class="left">
            <div class="onee">
                <div class="dau">
                    <button class="nho">peakdays</button>
                    <button class="nho">Toàn bộ căn hộ</button>
                </div>
                <div class="ten">
                    <div class="tennho">tên căn hộ</div>
                    <div class="sao">
                        <img src="/WebApp/Image/homestay/iconn/Red_star.svg (1).png" alt="">
                        <img src="/WebApp/Image/homestay/iconn/Red_star.svg (1).png" alt="">
                        <img src="/WebApp/Image/homestay/iconn/Red_star.svg (1).png" alt="">
                        <img src="/WebApp/Image/homestay/iconn/Red_star.svg (1).png" alt="">
                        <img src="/WebApp/Image/homestay/iconn/Red_star.svg (1).png" alt="">
                    </div>
                </div>

                <div class="diachi">
                    <span>địa chỉ <a href="#">trên bản đồ</a></span>
                    <hr>
                </div>
                <br>
                <p>
                    Hãy để chuyến đi của quý khách có một khởi đầu tuyệt vời khi ở lại khách sạn này, nơi có Wi-Fi miễn
                    phí trong tất cả các phòng. Nằm ở vị trí trung tâm tại Quận 3 của Hồ Chí Minh, chỗ nghỉ này đặt quý
                    khách ở gần các điểm thu hút và tùy chọn ăn uống thú vị. Đừng rời đi trước khi ghé thăm Bảo tàng
                    Chứng tích chiến tranh nổi tiếng. Được xếp hạng 4 sao, chỗ nghỉ chất lượng cao này cho phép khách
                    nghỉ sử dụng bể bơi ngoài trời, xông khô và phòng tập ngay trong khuôn viên.

                </p>
            </div>
            <div class="two">
                <h3>Điểm nổi bật</h3>
                <div class="threed">
                    <div class="first">
                        <img class="anh" src="/WebApp/Image/homestay/iconn/thumb-up.png" alt="">
                        <p>tiện nghi cho các hoạt động</p>
                    </div>
                    <div class="first">
                        <img class="anh" src="/WebApp/Image/homestay/iconn/double-bed.png" alt="">
                        <p>chất lượng phòng tuyệt vời</p>
                    </div>
                    <div class="first">
                        <img class="anh" src="/WebApp/Image/homestay/iconn/health-care.png" alt="">
                        <p>đảm bảo sức khỏe, vệ sinh</p>
                    </div>
                    <div class="first">
                        <img class="anh" src="/WebApp/Image/homestay/iconn/top-5.png" alt="">
                        <p>đáng tiền nhất</p>
                    </div>
                    <div class="first">
                        <img class="anh" src="/WebApp/Image/homestay/iconn/wifi.png" alt="">
                        <p>wifi miễn phí tất cả các phòng</p>
                    </div>
                </div>
            </div>
            <div class="three">
                <h3>Các dịch vụ đang có khuyến mại</h3>
                <div class="dichvuu">
                    <div class="dichvu">
                        <p class="size"><img class="size" src="/WebApp/Image/homestay/iconn/cutlery.png" alt=""> ăn uống</p>
                        <p><img class="anhh" src="/WebApp/Image/homestay/iconn/check.png" alt="">quán cà phê</p>
                        <p><img class="anhh" src="/WebApp/Image/homestay/iconn/check.png" alt="">quán bar</p>
                    </div>
                    <div class="dichvu">
                        <p class="size"><img class="size" src="/WebApp/Image/homestay/iconn/medical-record.png" alt=""> sức
                            khỏe</p>
                        <p><img class="anhh" src="/WebApp/Image/homestay/iconn/check.png" alt=""> phòng tập gym</p>
                        <p><img class="anhh" src="/WebApp/Image/homestay/iconn/check.png" alt=""> spa</p>
                        <p><img class="anhh" src="/WebApp/Image/homestay/iconn/check.png" alt="">phòng xông hơi</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="firstr">
                <p>9,5 Tuyệt vời</p>
                <a href="#">500 bài đánh giá</a>
                <div class="danhgiaa">
                    <div class="danhgia">
                        <span>ngắm cảnh 5
                            <img class="anhhh" src="/WebApp/Image/homestay/iconn/thumb-up.png" alt="">
                        </span>
                    </div>
                    <div class="danhgia">
                        <span>phòng tắm 21
                            <img class="anhhh" src="/WebApp/Image/homestay/iconn/thumb-up.png" alt="">
                        </span>
                    </div>
                    <div class="danhgia">
                        <span>cửa hàng 16
                            <img class="anhhh" src="/WebApp/Image/homestay/iconn/thumb-up.png" alt="">
                        </span>
                    </div>
                    <div class="danhgia">
                        <span>phòng tắm 21
                            <img class="anhhh" src="/WebApp/Image/homestay/iconn/thumb-up.png" alt="">
                        </span>
                    </div>
                </div>
            </div>
            <div class="map">
                <button>tên khách sạn</button>
                <div style="width: 100%">
                    <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?q=Hồ+Tây,+Hà+Nội,+Việt+Nam&hl=en&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                    </iframe>
                </div>

            </div>
        </div>
    </div>

    <div id="phong">
        <div class="all">
            <h2>Danh sách các phòng còn trống</h2>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="room-card">
                        <div class="room-images">
                            <div class="image-thumbnails">
                                <!-- Ảnh phòng -->
                                <img src="/WebApp/Image/homestay/hanoi/an's home/1.jpg" alt="Thumbnail 1">
                            </div>
                            <div class="image-popup">
                                <div class="image-popup-content">
                                    <span class="popup-close">&times;</span>
                                    <img src="/WebApp/Image/homestay/hanoi/an's home/1.jpg" alt="Room Image">
                                </div>
                            </div>
                        </div>
                        <div class="room-details">
                            <h4>Tên phòng</h4>
                            <p>Số giường: 2</p>
                            <p>Số lượng khách: 3</p>
                            <p class="room-features">Khu vực: Bếp, Phòng tắm riêng</p>
                            <p class="room-services">Dịch vụ: Wifi miễn phí</p>
                            <p class="room-price">$100/đêm</p>
                            <button class="btn btn-primary">Đặt ngay</button>
                        </div>
                    </div>
                </div>
                <!-- Thêm phòng cùng loại(Phân theo cột) -->
            </div>
            <!-- Thêm phòng khác loại(Phân theo hàng) -->
        </div>
    </div>

    <div id="tiennghi">
        <div class="all">
            <h2>Tiện nghi và cơ sở vật chất</h2>
            <h3>Cơ sở vật chất được nói đến nhiều nhất</h3>
            <div class="all-assess">
                <div class="assess">
                    <img class="ass" src="/WebApp/Image/homestay/iconn/broom.png" alt="">
                    <p>dọn phòng</p>
                </div>
                <div class="assess">
                    <img class="ass" src="/WebApp/Image/homestay/iconn/pool.png" alt="">
                    <p>bể bơi</p>
                </div>
                <div class="assess">
                    <img class="ass" src="/WebApp/Image/homestay/iconn/customer-service.png" alt="">
                    <p>dịch vụ</p>
                </div>
                <div class="assess">
                    <img class="ass" src="/WebApp/Image/homestay/iconn/taxi.png" alt="">
                    <p>taxi</p>
                </div>
            </div>
            <div class="full">
                <div class="firstc">
                    <div class="wifi">
                        <p class="tn">truy cập wifi</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">dịch vụ internet</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí trong các
                            phòng</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí trong các
                            phòng</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wifi (1).png" alt="">wifi công cộng</span>
                        <br>
                        <hr>

                    </div>
                    <div class="sach">
                        <p class="tn">độ sạch sẽ và an toàn</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">bộ dụng cụ sơ cứu</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">bán thức ăn sáng mang
                            về</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">đồ che mặt cho nhân
                            viên</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">dãn cách vật lý ít nhất 1
                            mét</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">khẩu trang free</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">sát khuẩn hàng
                            ngày</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">khử trùng thường
                            xuyên</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">nước rửa tay</span> <br>
                        <hr>

                    </div>
                    <div class="an_uong">
                        <p class="tn">ăn uống</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/pot.png" alt="">bếp ăn </span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/cutlery1.png" alt="">free bữa sáng</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">nước đóng chai</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wine-glass.png" alt="">quán bar</span> <br>

                    </div>
                </div>
                <div class="secondc">
                    <div class="service">
                        <p class="tn">dịch vụ và tiện nghi</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">cung cấp hóa đơn</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">cơ sở vật chất cho họp
                            mặt/tiệc lớn</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/printer.png" alt="">dịch vụ bưu chính</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/shirt.png" alt="">dịch vụ giặt là</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">dịch vụ ủi đồ </span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">giặt khô</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/smoking.png" alt="">khu vực hút thuốc</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/elevator.png" alt="">thang máy</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/man-in-suit-and-tie.png" alt="">nhân viên
                            trực cửa</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/travel-luggage.png" alt="">giữ hành lý</span>
                        <br>
                        <hr>

                    </div>

                    <div class="child">
                        <p class="tn">dành cho trẻ em</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/family.png" alt="">phòng gia đình</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/checked.png" alt="">tính năng an toàn cho
                            trẻ</span> <br>
                        <hr>

                    </div>
                    <div class="dilai">
                        <p class="tn">tiện ích đi lại</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/parked-car.png" alt="">bãi đỗ xe gần</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/parking.png" alt="">đỗ xe miễn phí</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/car.png" alt="">dịch vụ taxi</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/car (1).png" alt="">đưa đón sân bay</span>
                        <br>

                    </div>
                </div>
                <div class="thirdc">
                    <div class="trangbi">
                        <p class="tn">trang bị trong phòng</p>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/working.png" alt="">bàn làm việc</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/fire-extinguisher.png" alt="">bình chữa
                            cháy</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/mute.png" alt="">cách âm</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/towels.png" alt="">khăn trong phòng</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/slippers.png" alt="">dép đi trong nhà</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/telephone-call.png" alt="">điện thoại
                            free</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/mirror.png" alt="">gương</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/television.png" alt="">truyền hình cáp</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/snowflake.png" alt="">điều hòa</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/washing-machine.png" alt="">máy giặt</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí</span>
                        <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/fridge.png" alt="">tủ lạnh</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/stairs.png" alt="">tầng cao</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/bath.png" alt="">phòng tắm riêng</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/sofa.png" alt="">sofa</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/wardrobe.png" alt="">tủ có khóa</span> <br>
                        <span><img class="anhh" src="/WebApp/Image/homestay/iconn/money.png" alt="">rút tiền</span> <br>

                        <!-- <span><img class="anhh" src="/Image/homestay/iconn/" alt=""></span> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="chinhsach">
        <div class="allc">
            <h1>Quy định của chỗ nghỉ</h1>
            <p><b>Trẻ em và giường phụ</b></p>
            <p>Giường phụ thuộc vào loại phòng bạn chọn ,xin vui lòng kiểm tra thông tin phòng
                để biết thêm chi tiết</p>
            <p>Tất cả trẻ em đều được chào đón đến nơi ở của chúng tôi!</p>
            <div class="divice">
                <div class="chia">
                    <span><img class="im" src="/WebApp/Image/homestay/iconn/baby-boy.png" alt="">Trẻ sơ sinh 0-3 tuổi</span>
                    <br>
                    <hr><br>
                    <p><b>Ở miễn phí nếu sử dụng giường có sẵn</b></p>
                    <p>Có thể yêu cầu nôi/cũi cho bé trực tiếp từ quầy lễ tân</p>
                </div>
                <div class="chia">
                    <span><img class="im" src="/WebApp/Image/homestay/iconn/boy.png" alt="">Trẻ em 4-12 tuổi</span>
                    <br>
                    <hr><br>
                    <p><b>Ở miễn phí nếu sử dụng giường có sẵn</b></p>
                    <p>Nếu cần một giường phụ thì sẽ phụ thu thêm</p>
                </div>
                <div class="chia">
                    <span><img class="im" src="/WebApp/Image/homestay/iconn/man.png" alt="">Khách từ trên 12 tuổi</span>
                    <br>
                    <hr><br>
                    <p>Cần đặt thêm giường phụ và sẽ phụ thu thêm</p>
                </div>
            </div>
            <div class="khac">
                <p>Quy định khác</p>
                <ul>
                    <li>Khách sạn không chịu trách nhiệm đối với mọi mất mát, hư hỏng hoặc đồ quý giá khác để lại trong
                        phòng nghỉ.</li>
                    <li>Khách sẽ phải trả số tiền 200.000 VND mỗi thẻ nếu mất thẻ chìa khóa phòng.</li>
                    <li>Yêu cầu đặt cọc 1.000.000 VND cho 01 phòng ngủ hoặc 2.000.000 VND cho 02 phòng ngủ bằng tiền mặt
                        hoặc thẻ tín dụng khi nhận phòng dành cho các chi phí hoặc hư hại trong quá trình lưu trú và sẽ
                        được hoàn lại khi trả phòng.</li>
                    <li>Khi đặt trên 5 phòng, chính sách và điều khoản bổ sung có thể được áp dụng.</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="danhgia">
        <h1>Đánh giá của khách hàng</h1>
        <h2>xếp hạng &đánh giá chung </h2>
        <h3>từ 90 đánh giá của khách đã ở</h3>
        <div class="sau">
            <div class="firstd">

            </div>
            <div class="secondd"></div>
            <div class="thirdd"></div>
            <div class="fourd"></div>
            <div class="fived"></div>
        </div>
    </div>

    <footer class="bg-black text-white text-center p-4"> <!-- Phần dưới cùng -->
        <div class="row" style="margin: 0px;">
            <div class="col-4">
                <h3>Thành viên</h3>
                <ul style="list-style: none">
                    <li>Lê Thị Quỳnh Anh</li>
                    <li>Nguyễn Đắc Anh</li>
                    <li>Nguyễn Mạnh Hùng</li>
                    <li>Vũ Ngọc Minh</li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Thông tin liên hệ</h3>
                <ul style="list-style: none">
                    <li>
                        <a href="https://www.facebook.com/blader.buster.9" style="color: white;">
                            <i class="fa-brands fa-facebook" style="color: #0561ff;"></i></i>Quỳnh Anh
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC8vmMGd34GkBUZ_KodSG6XQ" style="color: white;">
                            <i class="fa-brands fa-youtube" style="color: #ff0000;"></i>Đắc Anh
                        </a>
                    </li>
                    <li>
                        <a href="" style="color: white;">
                            <i class="fa-solid fa-square-envelope" style="color: #ffffff;"></i>Mạnh Hùng
                        </a>
                    </li>
                    <li>
                        <a href="" style="color: white;">
                            <i class="fa-brands fa-discord" style="color: #11ff00;"></i>Ngọc Minh
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h3>Trợ giúp</h3>
                <ul style="list-style: none">
                    <li>
                        <a href="/WebApp/Views/Ho tro/ttht.html" style="color: white;">Trung tâm trợ giúp</a>
                    </li>
                    <li>
                        <button id="delete-account-button" class="btn btn-danger" onclick="deleteAccount()"
                            style="margin: 5px;">Xóa
                            tài khoản</button>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        window.onscroll = function () { myFunction() };
        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;
        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
        // JavaScript để xử lý sự kiện khi người dùng ấn vào các phần tử trên thanh navbar
        const navbarLinks = document.querySelectorAll('.navbar a');

        navbarLinks.forEach(link => {
            link.addEventListener('click', smoothScroll);
        });

        function smoothScroll(event) {
            event.preventDefault();


            const targetId = this.getAttribute('href');
            const targetElement = document.querySelector(targetId);


            window.scrollTo({
                top: targetElement.offsetTop,
                behavior: 'smooth'
            });
        }

    </script>
    <!-- Khai báo các thư viện js -->
    <script src="/WebApp/Template/homestay/Jquery/jquery-3.7.1.min.js"></script>
    <script src="/WebApp/Template/homestay/bootstrap-5.2.3-dist/js/bootstrap.min.js"></script>
    <!-- <script src="/Template/homestay/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/WebApp/Template/homestay/MyJavaScript/myscript.js"></script>
    <script src="/WebApp/Template/login/MyJavaScript/common.js"></script>
</body>

</html>