<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Template/homestay/MyStyle/tiennghi.css">
    <script src="/Template/login/Jquery/jquery-3.7.1.min.js"></script>
    <title>Document</title>
    
</head>
<body>
    <div class="all">
        <h2>Tiện nghi và cơ sở vật chất</h2>
        <h3>Cơ sở vật chất được nói đến nhiều nhất</h3>
        <div class="all-assess">
            <div class="assess">
                <img class="ass" src="/Image/homestay/iconn/broom.png" alt="">
                <p>dọn phòng</p>
            </div>
            <div class="assess">
                <img class="ass" src="/Image/homestay/iconn/pool.png" alt="">
                <p>bể bơi</p>
            </div>
            <div class="assess">
                <img class="ass" src="/Image/homestay/iconn/customer-service.png" alt="">
                <p>dịch vụ</p>
            </div>
            <div class="assess">
                <img class="ass" src="/Image/homestay/iconn/taxi.png" alt="">
                <p>taxi</p>
            </div>
        </div>
        <div class="full">
            <div class="firstc">
                <div class="wifi">
                    <p class="tn">truy cập wifi</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">dịch vụ internet</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí trong các phòng</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí trong các phòng</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wifi (1).png" alt="">wifi công cộng</span> <br> <hr>
    
                </div>
                <div class="sach">
                    <p class="tn">độ sạch sẽ và an toàn</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">bộ dụng cụ sơ cứu</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">bán thức ăn sáng mang về</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">đồ che mặt cho nhân viên</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">dãn cách vật lý ít nhất 1 mét</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">khẩu trang free</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">sát khuẩn hàng ngày</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">khử trùng thường xuyên</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">nước rửa tay</span> <br><hr>
    
                </div>
                <div class="an_uong">
                    <p class="tn">ăn uống</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/pot.png" alt="">bếp ăn </span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/cutlery1.png" alt="">free bữa sáng</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">nước đóng chai</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wine-glass.png" alt="">quán bar</span> <br>
    
                </div>
            </div>
            <div class="secondc">
                <div class="service">
                    <p class="tn">dịch vụ và tiện nghi</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">cung cấp hóa đơn</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">cơ sở vật chất cho họp mặt/tiệc lớn</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/printer.png" alt="">dịch vụ bưu chính</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/shirt.png" alt="">dịch vụ giặt là</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">dịch vụ ủi đồ </span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">giặt khô</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/smoking.png" alt="">khu vực hút thuốc</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/elevator.png" alt="">thang máy</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/man-in-suit-and-tie.png" alt="">nhân viên trực cửa</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/travel-luggage.png" alt="">giữ hành lý</span> <br><hr>
    
                </div>
            
                <div class="child">
                    <p class="tn">dành cho trẻ em</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/family.png" alt="">phòng gia đình</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/checked.png" alt="">tính năng an toàn cho trẻ</span> <br><hr>
        
                </div>
                <div class="dilai">
                    <p class="tn">tiện ích đi lại</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/parked-car.png" alt="">bãi đỗ xe gần</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/parking.png" alt="">đỗ xe miễn phí</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/car.png" alt="">dịch vụ taxi</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/car (1).png" alt="">đưa đón sân bay</span> <br>
        
                </div>
            </div>
            <div class="thirdc">
                <div class="trangbi">
                    <p class="tn">trang bị trong phòng</p>
                    <span><img class="anhh" src="/Image/homestay/iconn/working.png" alt="">bàn làm việc</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/fire-extinguisher.png" alt="">bình chữa cháy</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/mute.png" alt="">cách âm</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/towels.png" alt="">khăn trong phòng</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/slippers.png" alt="">dép đi trong nhà</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/telephone-call.png" alt="">điện thoại free</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/mirror.png" alt="">gương</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/television.png" alt="">truyền hình cáp</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/snowflake.png" alt="">điều hòa</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/washing-machine.png" alt="">máy giặt</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wifi (1).png" alt="">wifi miễn phí</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/fridge.png" alt="">tủ lạnh</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/stairs.png" alt="">tầng cao</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/bath.png" alt="">phòng tắm riêng</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/sofa.png" alt="">sofa</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/wardrobe.png" alt="">tủ có khóa</span> <br>
                    <span><img class="anhh" src="/Image/homestay/iconn/money.png" alt="">rút tiền</span> <br>
    
                    <!-- <span><img class="anhh" src="/Image/homestay/iconn/" alt=""></span> --> 
            </div>
            </div>
          </div>
      
    </div>
</body>
</html>