<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Template/homestay/MyStyle/xem.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <div class="container">
        <div class="ten">
            <p>ảnh homestay</p>

        </div>
        <div class="box">
            <div class="one">
                <img  src="/Image/homestay/hanoi/an's home/1.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/2.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/8.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/4.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/5.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/6.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/7.jpg" alt="">

            </div>
            <div class="one">
                <img src="/Image/homestay/hanoi/an's home/3.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/9.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/10.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/11.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/12.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/13.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/18.jpg" alt="">

            </div>
            <div class="one">
                <img src="/Image/homestay/hanoi/an's home/15.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/16.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/17.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/14.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/19.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/20.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/21.jpg" alt="">

            </div>
            <div class="gallery">
                <i class='bx bx-x close'></i>
                <div class="xemanh">
                    <img src="/Image/homestay/hanoi/an's home/17.jpg" alt="">
                </div>
                <div class="control right">
                </div>
                <div class="control left">
                    <i class='bx bx-left-arrow-alt'></i>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>