<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nắng house</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Nắng house</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/homestay/danang/nang house/1.webp" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/2.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/3.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/8.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/5.jpg" alt="">
               

            </div>
            <div class="one">

                <img src="/WebApp/Image/homestay/danang/nang house/6.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/13.webp" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/7.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/14.webp" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/15.webp" alt="">
               
                

            </div>

            <div class="one">

                <img src="/WebApp/Image/homestay/danang/nang house/4.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/9.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/10.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/11.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/nang house/12.jpg" alt="">
              
                

            </div>

            
        </div>
 
    </div>
</body>
</html>