<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minh house</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Minh house</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/homestay/danang/minh house/1.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/2.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/3.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/14.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/5.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/6.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/7.jpg" alt="">

            </div>

            

            <div class="one">

                <img src="/WebApp/Image/homestay/danang/minh house/15.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/16.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/17.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/19.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/20.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/21.jpg" alt="">

            </div>
            <div class="one">

                <img src="/WebApp/Image/homestay/danang/minh house/4.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/9.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/10.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/11.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/12.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/13.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/18.jpg" alt="">
                <img src="/WebApp/Image/homestay/danang/minh house/8.jpg" alt="">


            </div>
        </div>
 
    </div>
</body>
</html>