<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leiden</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Leiden</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/homestay/hcm/leiden/1.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/2.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/3.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/8.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/5.jpg" alt="">
                

            </div>

            <div class="one">

                <img src="/WebApp/Image/homestay/hcm/leiden/4.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/9.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/10.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/11.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/12.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/16.jpg" alt="">


            </div>

            <div class="one">

                <img src="/WebApp/Image/homestay/hcm/leiden/15.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/6.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/7.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/13.jpg" alt="">
                <img src="/WebApp/Image/homestay/hcm/leiden/14.jpg" alt="">
                

            </div>
        </div>
 
    </div>
</body>
</html>