ul#menu a{
    position: relative;
}
ul#menu a::after{
    content: "";
    height: 5px;
    width: 0px;
    background: yellow;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.5s ease-in-out;
}
ul#menu a:hover::after{
    width: 100%;
    /* transform: translateX(100%); */
}
ul#menu a:hover{
    color: yellow !important;
}
a{
    text-decoration: none !important;
}
main{
    width: 100%;
    height: 100%;
}
.navbar-toggler{
    justify-content: end;
    border: none !important;
}
ul{
    list-style-type: none;
}
.card-img-top{
    height: 100%;
}   
footer{
    height: 50%;
}
div table{
    margin-left: 6%;
}
div ul li:hover{
    color: rgb(0, 0, 255) ;
}
/* Ẩn lời chào của điện thoại khi đang ở chế độ laptop */
@media (min-width: 769px) {
    #welcome-user-phone {
      display: none !important;
    }
}
