<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Cozrum Homes Saphera Residence</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/Image/khach san/ho chi minh/cozrum2.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (8).jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (9).jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (5).jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (6).jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (7).jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/khach san/ho chi minh/coz8.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz1.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz2.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz3.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz4.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz5.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz6.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/khach san/ho chi minh/coz7.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz10.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz11.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz12.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz13.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/cozrum (9).jpg" alt="">
                <img src="/Image/khach san/ho chi minh/coz14.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>