<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>The Euphoria Hanoi</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/eu1.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu2.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu3.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu4.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu5.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu6.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/eu8.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu9.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu10.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu11.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu12.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu13.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu14.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/ha noi/eu15.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu4.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu17.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu18.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu19.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu20.jpg" alt="">
                <img src="/WebApp/Image/khach san/ha noi/eu21.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>