<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Harmony Homestay</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/khach san/da nang/ha1.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha2.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha3.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha4.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha5.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha6.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/da nang/ha8.jpg" alt="">
                <img src="/WebAppp/Image/khach san/da nang/ha9.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha10.jpg" alt="">
                <img src="/WebAppp/Image/khach san/da nang/ha11.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha12.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha13.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha14.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/khach san/da nang/ha15.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha16.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha17.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha18.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha19.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha20.jpg" alt="">
                <img src="/WebApp/Image/khach san/da nang/ha21.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>