<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Homestay</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/Image/khach san/ho chi minh/lux1.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux2.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux3.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux4.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux5.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux6.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/lux7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/homestay/hanoi/an's home/4.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/9.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/10.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/11.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/12.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/13.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/18.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/homestay/hanoi/an's home/15.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/16.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/17.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/19.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/20.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/21.jpg" alt="">
                <img src="/Image/homestay/hanoi/an's home/14.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>