<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Nikko Hotel-The Classy Life</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/Image/khach san/ho chi minh/nikko1.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko2.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko3.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko4.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko5.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/niiko6.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/khach san/ho chi minh/nikko8.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko9.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko10.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko11.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko12.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko13.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko14.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/khach san/ho chi minh/nikko15.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko16.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko17.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko18.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko19.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko20.jpg" alt="">
                <img src="/Image/khach san/ho chi minh/nikko21.jpg" alt="">
            </div>
        </div>
 
    </div>
</body>
</html>