<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Siro House Da Nang Homestay</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/Image/khach san/da nang/si1.jpg" alt="">
                <img src="/Image/khach san/da nang/si2.jpg" alt="">
                <img src="/Image/khach san/da nang/si3.jpg" alt="">
                <img src="/Image/khach san/da nang/si4.jpg" alt="">
                <img src="/Image/khach san/da nang/si5.jpg" alt="">
                <img src="/Image/khach san/da nang/si6.jpg" alt="">
                <img src="/Image/khach san/da nang/si7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/Image/khach san/da nang/si8.jpg" alt="">
                <img src="/Image/khach san/da nang/si9.jpg" alt="">
                <img src="/Image/khach san/da nang/si10.jpg" alt="">
                <img src="/Image/khach san/da nang/si11.jpg" alt="">
                <img src="/Image/khach san/da nang/si12.jpg" alt="">
                <img src="/Image/khach san/da nang/si13.jpg" alt="">
                <img src="/Image/khach san/da nang/si14.jpg" alt="">
            </div>

            <div class="one">

                <img src="/Image/khach san/da nang/si15.jpg" alt="">
                <img src="/Image/khach san/da nang/si16.jpg" alt="">
                <img src="/Image/khach san/da nang/si17.jpg" alt="">
                <img src="/Image/khach san/da nang/si18.jpg" alt="">
                <img src="/Image/khach san/da nang/si19.jpg" alt="">
                <img src="/Image/khach san/da nang/si20.jpg" alt="">
                <img src="/Image/khach san/da nang/si21.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>