<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chips house</title>
<link rel="stylesheet" href="/WebApp/Template/homestay/MyStyle/xem.css">

</head>
<body>
  
    <div class="container">
        <div class="ten">
            <h3>Chips house</h3>    
        </div>
        <div class="box">
            <div class="one">

                <img src="/WebApp/Image/homestay/hanoi/chips house/1.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/2.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/3.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/8.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/5.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/6.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/7.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/homestay/hanoi/chips house/4.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/9.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/10.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/11.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/12.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/13.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/18.jpg" alt="">

            </div>

            <div class="one">

                <img src="/WebApp/Image/homestay/hanoi/chips house/15.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/16.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/17.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/19.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/20.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/21.jpg" alt="">
                <img src="/WebApp/Image/homestay/hanoi/chips house/14.jpg" alt="">

            </div>
        </div>
 
    </div>
</body>
</html>